body {
  margin: 0;
  background-color: #111827;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.summary-grid {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.summary-card {
  width: 180px;
  padding: 20px;
  border-radius: 12px;
  background: #1e293b;
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.summary-card h3 {
  margin-bottom: 10px;
  color: #94a3b8;
}

.summary-card h1 {
  font-size: 2.5rem;
  margin: 0;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #333;
}

th {
  color: white;
}

td {
  color: #d1d5db;
}